<form id="project-form-create" class="form" action="{{ actionUrl }}" method="post" {{ form_enctype(form) }}>
	{{ form_errors(form) }}
	<div class="project">
	{{ form_errors(form.project) }}
	{{ form_widget(form.project) }}
	</div>

    <div id="navigation-panel">
		{{ form_errors(form.project) }}
		{{ form_widget(form.project) }}



		{{ form_widget(form._token) }}
		<input class="btn" type="reset" value="{{ 'navigation.project.reset'|trans }}" />
		<input class="btn" type="submit" value="{{ 'navigation.project.create'|trans }}" />
	</div>
</form>
