<div class="task accordion-group" data-id="{{ task.id }}">
	<form class="item" action="{{ path('BtaskBoardBundle_task_udpate', { 'id': task.id }) }}" method="post" {{ form_enctype(form) }}>
		{{ form_errors(form) }}
		<div class="meta accordion-heading">
			{% if (task.project )%}
			<h6>{{ task.project.name }}</h6>
			{% endif %}
			<h5>
				{{ form_errors(form.subject) }}
				{{ form_widget(form.subject) }}
			</h5>
			<div class="infos">
				<em class="duedate">{{ task.due | date('F dS Y') }}</em>
				<a class="underling" href="#">{{ task.owner.email }}</a>
			</div>
		</div>
		<div id="task-{{ task.id }}" class="accordion-body collapse">
			<div class="accordion-inner">
				{{ task.detail }}
			</div>
		</div>
	    <div class="panel">
		    <div class="bound"></div>
			<div class="tabs">
			    <a href="task" class="left active">post-it / tâche</a>
		    	<a href="note" class="right">note</a>
		    	<div class="clr"></div>
		    </div>
			{{ form_errors(form) }}



			<fieldset id="ftype">
		   		{{ form_errors(form.type) }}
		    	{{ form_widget(form.type) }}
			</fieldset>
			<fieldset id="fplanned" class="task">
				<label>Date de planification</label>
				{{ form_errors(form.planned) }}
				{{ form_widget(form.planned, { 'attr': {'class': 'date'} }) }}
			</fieldset>
			<fieldset class="task">
				<label>Date d’échéance</label>
				{{ form_errors(form.due) }}
				{{ form_widget(form.due, { 'attr': {'class': 'date'} }) }}
			</fieldset>

			<fieldset class="task note">
				<label class="bloc">Détail</label>
				{{ form_errors(form.detail) }}
				{{ form_widget(form.detail) }}
			</fieldset>

			<fieldset class="task">
				<label>Important ?</label>
				{{ form_errors(form.priority) }}
				{{ form_widget(form.priority) }}
			</fieldset>

			<fieldset class="task">
				<label>Exécutant</label>
				{{ form_errors(form.executor) }}
				{{ form_widget(form.executor, { 'attr': {'class': 'larger'} }) }}
			</fieldset>

			<fieldset class="task note">
				{{ form_errors(form.project) }}
				{{ form_widget(form.project) }}
			</fieldset>
			{{ form_widget(form._token) }}
		</div>
		<input class="btn" type="reset" value="{{ 'overview.streamline.tasks.cancel'|trans }}" />
		<input class="btn" type="submit" value="{{ 'overview.streamline.tasks.save'|trans }}" />
	</form>
</div>