<div class="task accordion-group" data-id="{{ task.id }}">
	<div class="meta accordion-heading">
		<em class="duedate">{{ task.due | date('F dS Y') }}</em>
		<h5>{{ task.subject }}</h5>
	    {% if task.status == true %}
		<a href="{{ path('BtaskBoardBundle_task_close', { 'id': task.id }) }}" class="btn close"></a>
		{% else %}
		<a href="{{ path('BtaskBoardBundle_task_open', { 'id': task.id }) }}" class="btn reopen"></a>
		{% endif %}
		<a class="underling" href="#">geoffroy.perriard@gmail.com</a>
	</div>
	<div id="task-{{ task.id }}" class="accordion-body collapse">
		<div class="accordion-inner">
			{{ task.detail }}
		</div>
	</div>
</div>
