<div class="task accordion-group" data-id="{{ task.id }}">
	<div class="meta accordion-heading">
		<h6>Project</h6>
		<h5>{{ task.subject }}</h5>



	    <div class="actions">

			<div class="controls btn-group">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					<i class="icon-cog"></i>
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu pull-right">
					{% if task.status == true %}
					<li><a href="{{ path('BtaskBoardBundle_task_close', { 'id': task.id }) }}" class="toggle">close task</a></li>
					{% else %}
					<li><a href="{{ path('BtaskBoardBundle_task_open', { 'id': task.id }) }}" class="toggle">reopen task</a></li>
					{% endif %}
					<li><a href="{{ path('BtaskBoardBundle_task_udpate', { 'id': task.id }) }}" class="edit">edit task</a></li>
					<li><a href="{{ path('BtaskBoardBundle_task_delete', { 'id': task.id }) }}" class="remove">delete task</a></li>
				</ul>
			</div>
		</div>
		<div class="infos">
			<em class="duedate">{{ task.due | date('F dS Y') }}</em>
			<a class="underling" href="#">geoffroy.perriard@gmail.com</a>
		</div>
	</div>
	<div id="task-{{ task.id }}" class="accordion-body collapse">
		<div class="accordion-inner">
			{{ task.detail }}
		</div>
	</div>
</div>
