<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}B-Task{% endblock %}</title> 
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            {% stylesheets filter='less' output="assets/style.css"
                '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
                'bundles/btaskdashboard/less/main.less'
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">B-task</a>
                    <div class="nav-collapse">
                        {% if is_granted('ROLE_USER') %}
                        <ul class="nav">
                            <li><a class="plus" href="#">{% trans %}+{% endtrans %}</a></li>
                        </ul>
                        {% endif %}
                        <ul class="nav pull-right">
                            {% if is_granted('ROLE_USER') %}
                            <li><a href="{{ path('fos_user_security_logout') }}">{% trans %}layout.logout{% endtrans %}</a></li>
                            {% else %}
                             <li><a href="{{ path('fos_user_security_login') }}">{% trans %}layout.login{% endtrans %}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="main-content" class="container-fluid">
            {% block body %}
            {% endblock %}
        </div>
        {% block javascripts %}
            {% javascripts output="assets/sys-javascripts.js"
                '@BtaskDashboardBundle/Resources/public/js/jquery-1.7.1.min.js'
                '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-dropdown.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-typeahead.js'
                '@BtaskDashboardBundle/Resources/public/js/bootstrap-collapse.js'
                '@BtaskDashboardBundle/Resources/public/js/application.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
