{% extends "::base.html.twig" %}

{% block body %}
<div id="dashboard" class="row-fluid">
    <div id="notifications">
    </div>
    <div id="post-it">
        <div class="post-it form alert">
            <a class="close" data-dismiss="alert" href="#">×</a>
            {% render "BtaskDashboardBundle:Default:newItem" %}
        </div>
    </div>
</div>
<div id="overview" class="row-fluid">
    <div id="streamline">
        <div id="summary">
            <h2>Today, {{ "now"|date("d F Y") }}</h2>
            <select id="users" name="users">
                {% for i in range(0, 5) %}
                <option>Person {{ i }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="tasks" class="accordion" data-collapse-type="manual">
            <div class="status accordion-group">
                <div class="title accordion-heading">
                    <a href="#overdue-tasks" data-parent="#tasks" data-toggle="collapse" class="accordion-toggle">{{ 'overview.streamline.tasks.overdue' | trans }}</a>
                </div>
                <div id="overdue" class="accordion-body collapse-content in">
                    <div class="accordion-inner">
                        <div id="overdue-tasks" class="accordion" data-collapse-type="manual">
                        </div>
                    </div>
                </div>
            </div>
            <div class="status accordion-group">
                <div class="title accordion-heading">
                    <a href="#planned-tasks" data-parent="#tasks" data-toggle="collapse" class="accordion-toggle">{{ 'overview.streamline.tasks.planned' | trans }}</a>
                </div>
                <div id="planned-tasks" class="accordion-body collapse-content in">
                    <div class="accordion-inner">
                        <div id="to-do-tasks" class="accordion" data-collapse-type="manual">
                        </div>
                    </div>
                </div>
            </div>
            <div class="status accordion-group">
                <div class="title accordion-heading">
                    <a href="#done-tasks" data-parent="#tasks" data-toggle="collapse" class="accordion-toggle">{{ 'overview.streamline.tasks.done' | trans }}</a>
                </div>
                <div id="done-tasks" class="accordion-body collapse-content in">
                    <div class="accordion-inner">
                        <div id="done-tasks" class="accordion" data-collapse-type="manual">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts output="assets/tesst-javascripts.js"
        '@BtaskDashboardBundle/Resources/public/js/dashboard.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
    $(function() {

        // Get all the post-it and display them
        $.ajax({
            type: "GET",
            url: "{{ path('BtaskDashboardBundle_postit')}}",
            cache: false,
            success: function(data){
                $('#post-it').append(data);
            }
        });

        // Get overdue tasks and display them
        $.ajax({
            type: "GET",
            url: "{{ path('BtaskDashboardBundle_tasks_by_state', { 'state': 'overdue' })}}",
            cache: false,
            success: function(data){
                $('#overdue-tasks').append(data);
            }
        });

        // Get tasks to be done and display them
        $.ajax({
            type: "GET",
            url: "{{ path('BtaskDashboardBundle_tasks_by_state', { 'state': 'planned' })}}",
            cache: false,
            success: function(data){
                $('#planned-tasks').append(data);
            }
        });

        // Get done tasks and display them
        $.ajax({
            type: "GET",
            url: "{{ path('BtaskDashboardBundle_tasks_by_state', { 'state': 'done' })}}",
            cache: false,
            success: function(data){
                $('#done-tasks').append(data);
            }
        });
    });
    </script>
{% endblock %}
