{% for task in tasks %}
<div class="task accordion-group">
	<div class="meta accordion-heading">
		<h6>Project</h6>
		<h5>{{ task.subject }}</h5>
	    <div class="actions">
	    	{% if task.status == true %}
			<a href="{{ path('BtaskDashboardBundle_task_close', { 'id': task.id }) }}" class="btn">
				<i class="icon-ok"></i>
			</a>
			{% else %}
			<a href="{{ path('BtaskDashboardBundle_task_open', { 'id': task.id }) }}" class="btn">
				<i class="icon-remove"></i>
			</a>
			{% endif %}
		</div>
		<div class="infos">
			<em class="duedate">{{ task.due | date('F dS Y') }}</em>
			<a class="underling" href="#">geoffroy.perriard@gmail.com</a>
		</div>
	</div>
	<div id="task-{{ task.id }}" class="accordion-body collapse">
		<div class="accordion-inner">
			{{ task.detail }}
		</div>
	</div>
</div>
{% endfor %}
