<div class="workgroup" data-id="{{ workgroup.id }}" data-slug="{{ workgroup.slug }}">
	<div class="header">
		<a class="title" href="#workgroup-{{ workgroup.id }}" data-parent="#workgroups" data-toggle="collapse">{{ workgroup.name }}</a>
		<div class="controls btn-group">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="icon-cog"></i>
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu pull-right">
				<li><a href="{{ path('BtaskBoardBundle_project_create', { 'workgroup_slug': workgroup.slug }) }}" class="addProject">add project</a></li>
				<li><a href="{{ path('BtaskBoardBundle_workgroup_update', { 'id': workgroup.id }) }}" class="edit">{{ 'navigation.workgroup.edit'|trans }}</a></li>
				<li><a href="{{ path('BtaskBoardBundle_workgroup_delete', { 'id': workgroup.id }) }}" class="remove">{{ 'navigation.workgroup.remove'|trans }}</a></li>
			</ul>
		</div>
	</div>
	<div id="workgroup-{{ workgroup.id }}" class="collapse-content collapse" data-id="{{ workgroup.id }}">
		<div class="projects">
		</div>
	</div>
</div>
