<form id="workgroup-form-create" action="{{ path('BtaskBoardBundle_workgroup_create') }}" method="post" {{ form_enctype(form) }}>
	{{ form_errors(form) }}

    {{ form_errors(form.name) }}
    {{ form_widget(form.name) }}
	{{ form_rest(form) }}
	<input class="btn" type="submit" value="{{ 'navigation.workgroup.save'|trans }}" />
</form>
