<form id="form-note" action="{{ actionUrl }}" method="post" {{ form_enctype(form) }} class="accordion" data-collapse-type="manual">
	{{ form_errors(form) }}
	<div class="option">
	    <div class="header">
	        <a href="#option-detail" data-parent="#form-note" data-toggle="collapse">{{ 'panel.option.detail.title' | trans }}</a>
	    </div>
	    <div id="option-detail" class="accordion-body collapse-content">
    		<div class="controls">
				{{ form_errors(form.detail) }}
				{{ form_widget(form.detail) }}
			</div>
	    </div>
	</div>

	{{ form_rest(form) }}
</form>
