{% for workgroup in workgroups %}
<div class="workgroup">
	<div class="title">
		<a href="#workgroup-{{ workgroup.id }}" data-parent="#workgroups" data-toggle="collapse">{{ workgroup.name }}</a>
		<a class="btn" href="#"><i class="icon-cog"></i></a>
	</div>
	<div id="workgroup-{{ workgroup.id }}" class="collapse-content collapse" data-id="{{ workgroup.id }}">
		<div class="projects">
            {% for i in range(0, 6) %}
            <a class="project" href="#">Project {{ i }}</a>
			{% endfor %}
		</div>
	</div>
</div>
{% endfor %}
