{% extends "::base.html.twig" %}
{% block navbar %}
<ul class="nav">
    <li><a class="post-it add" href="#">{% trans %}+{% endtrans %}</a></li>
</ul>
{% endblock %}
{% block body %}
<div id="dashboard" class="row-fluid">
    <div id="notifications">
    </div>
    <div id="post-it">
        <div class="post-it form alert">
            <a class="close" data-dismiss="alert" href="#">×</a>
            {% render "BtaskBoardBundle:Default:newPostIt" %}
        </div>
    </div>
</div>
<div id="overview" class="row-fluid">
    <div id="panel">
    </div>
    <div id="streamline">
        <div id="summary">
            <h2>Today, {{ "now"|date("d F Y") }}</h2>
            <select id="users" name="users">
                {% for i in range(0, 5) %}
                <option>Person {{ i }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="tasks" class="accordion" data-collapse-type="manual">
            <div class="status accordion-group">
                <div class="title accordion-heading">
                    <a href="#overdue" data-parent="#tasks" data-toggle="collapse" class="accordion-toggle">{{ 'overview.streamline.tasks.overdue' | trans }}</a>
                </div>
                <div id="overdue" class="accordion-body collapse-content in">
                    <div class="accordion-inner">
                        <div id="overdue-tasks" class="accordion" data-collapse-type="manual">
                        </div>
                    </div>
                </div>
            </div>
            <div class="status accordion-group">
                <div class="title accordion-heading">
                    <a href="#planned" data-parent="#tasks" data-toggle="collapse" class="accordion-toggle">{{ 'overview.streamline.tasks.planned' | trans }}</a>
                </div>
                <div id="planned" class="accordion-body collapse-content in">
                    <div class="accordion-inner">
                        <div id="planned-tasks" class="accordion" data-collapse-type="manual">
                        </div>
                    </div>
                </div>
            </div>
            <div class="status accordion-group">
                <div class="title accordion-heading">
                    <a href="#done" data-parent="#tasks" data-toggle="collapse" class="accordion-toggle">{{ 'overview.streamline.tasks.done' | trans }}</a>
                </div>
                <div id="done" class="accordion-body collapse-content in">
                    <div class="accordion-inner">
                        <div id="done-tasks" class="accordion" data-collapse-type="manual">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts output="assets/tesst-javascripts.js"
        '@BtaskBoardBundle/Resources/public/js/dashboard.js'
        '@BtaskBoardBundle/Resources/public/js/bootstrap-datepicker.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
    $(function() {

        // Get all the post-it and display them
        $.ajax({
            type: "GET",
            url: "{{ path('BtaskBoardBundle_postit')}}",
            cache: false,
            success: function(data){
                $('#post-it').append(data);

                // Display the form for task edition
                $('.post-it .btn.edit').click(function () {
                    $.ajax({
                        type: "GET",
                        url: "task/" + $(this).parent().data('id') + "/edit",
                        cache: true,
                        success: function(data){
                            $('#panel').html(data);

                            // Display the datepicker on due date and planned date input
                            $('#option-due .controls input').datepicker();
                            $('#option-planned .controls input').datepicker();

                            $('#panel').show();
                        }
                    });
                });
            }
        });

        // Get overdue tasks and display them
        $.ajax({
            type: "GET",
            url: "{{ path('BtaskBoardBundle_tasks_by_state', { 'state': 'overdue' })}}",
            cache: false,
            success: function(data){
                $('#overdue-tasks').append(data);
            }
        });

        // Get tasks to be done and display them
        $.ajax({
            type: "GET",
            url: "{{ path('BtaskBoardBundle_tasks_by_state', { 'state': 'planned' })}}",
            cache: false,
            success: function(data){
                $('#planned-tasks').append(data);
            }
        });

        // Get done tasks and display them
        $.ajax({
            type: "GET",
            url: "{{ path('BtaskBoardBundle_tasks_by_state', { 'state': 'done' })}}",
            cache: false,
            success: function(data){
                $('#done-tasks').append(data);
            }
        });
    });
    </script>
{% endblock %}
