<div class="post-it alert">
<style type="text/css">
	.post-it form {
	position: relative;
}

.panel{
	position:absolute;
	right: -298px;
	top: -16px;
	width:240px;
	padding: 0 16px 16px 16px;
	border:solid 3px #4d4b45;
	z-index: 1;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	-moz-box-shadow: 0px 1px 8px #4d4b45;
	-webkit-box-shadow: 0px 1px 8px #4d4b45;
	box-shadow: 0px 1px 8px #4d4b45;
	filter: progid: DXImageTransform.Microsoft.Shadow(strength = 1, direction = 180, color = '#000000');
	-ms-filter: "progid: DXImageTransform.Microsoft.Shadow(strength = 1, Direction = 180, Color = '#000000')";
	/*Shadows look very different in IE (Only cardinal directions supported)*/
	/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
	/*Element should have a background-color*/
	/*All filters must be placed together*/
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = '#bdb9ad', endColorstr = '#a49f93');
	/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	-ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = '#bdb9ad', endColorstr = '#a49f93')";
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	background-image: -moz-linear-gradient(top, #bdb9ad, #a49f93);
	background-image: -ms-linear-gradient(top, #bdb9ad, #a49f93);
	background-image: -o-linear-gradient(top, #bdb9ad, #a49f93);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#bdb9ad), to(#a49f93));
	background-image: -webkit-linear-gradient(top, #bdb9ad, #a49f93);
	background-image: linear-gradient(top, #bdb9ad, #a49f93);
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	/*Use "background-clip: padding-box" when using rounded corners to avoid the gradient bleeding through the corners*/
	/*--IE9 WILL PLACE THE FILTER ON TOP OF THE ROUNDED CORNERS--*/
}

.panel .tabs {
	margin-bottom: 12px;
}

.panel .tabs a {
	width: 138px;
	display: inline-block;
	margin: -2px 0 0 -16px;
	text-align: center;
	padding: 4px 0;
	color: #cbcac5;
	text-transform: uppercase;
	font-size: 0.846em;
	background-image: -moz-linear-gradient(top, #7e7d79, #646360);
	background-image: -ms-linear-gradient(top, #7e7d79, #646360);
	background-image: -o-linear-gradient(top, #7e7d79, #646360);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#7e7d79), to(#646360));
	background-image: -webkit-linear-gradient(top, #7e7d79, #646360);
	background-image: linear-gradient(top, #7e7d79, #646360);
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	border-bottom: 1px solid #cbc8be;
	margin-bottom: 10px;
}

.panel .tabs a:hover {
	background: #9e9b8e;
	color: #4d4b45;
}

.panel .tabs a.active {
	background: #bdb9ad;
	color: #4d4b45;
	margin: -4px 0 0 -16px ;
	padding: 6px 0 4px 0;
}

.panel .tabs a.right {
	margin: -2px -16px 0 -16px;
	float: right;
}

.panel .bound{
	position: absolute;
	width: 0;
	height: 0;
	padding: 137px 0 0 3px;
	margin: 8px 0 0 -22px;
	background: url("img/bound.png") left top no-repeat;
}

.panel input.date {
	width: 110px;
}

.panel input, .panel textarea {
	border: 1px solid #928e84;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 1px 1px 2px #cfcdca;
	-webkit-box-shadow: inset 1px 1px 2px #cfcdca;
	box-shadow: inset 1px 1px 2px #cfcdca;
	color: #4d4b45;
	padding: 4px;
	float: right;
}

.panel input[type=radio] , .panel input[type=checkbox]{
	float: none;
}

.post-it form textarea {
	width: 100%;
	height: 50px;
	margin-bottom: 5px;
}

.panel label {
	font-weight: bold;
	font-size: 0.923em;
	line-height: 30px;
	padding-right: 7px;
}
.panel input.larger{
	width: 165px;
}

.panel label.bloc {
	display: block;
}

.panel input:hover, .panel textarea:hover {
	background-color:#e9e7e4;
}

.panel input:focus, .panel textarea:focus {
	background-color:#8c8a84;
	color: #ffffff;
	outline-color: #f5e7b8;
	border-color: #f5e7b8;
}
</style>


<form action="{{ actionUrl }}" method="post" {{ form_enctype(form) }}>
	{{ form_errors(form.subject) }}
    {{ form_widget(form.subject) }}
    <div class="panel">
    <div class="bound"></div>
	<div class="tabs">
	    <a href="task" class="left active">post-it / tâche</a>
    	<a href="note" class="right">note</a>
    	<div class="clr"></div>
    </div>
	{{ form_errors(form) }}




   		{{ form_errors(form.type) }}
    	{{ form_widget(form.type) }}


	<fieldset id="fplanned" class="task">
		<label>Date de planification</label>
		{{ form_errors(form.planned) }}
		{{ form_widget(form.planned, { 'attr': {'class': 'date'} }) }}
	</fieldset>
	<fieldset class="task">
		<label>Date d’échéance</label>
		{{ form_errors(form.due) }}
		{{ form_widget(form.due, { 'attr': {'class': 'date'} }) }}
	</fieldset>

	<fieldset class="task note">
		<label class="bloc">Détail</label>
		{{ form_errors(form.detail) }}
		{{ form_widget(form.detail) }}
	</fieldset>

	<fieldset class="task">
		<label>Important ?</label>
		{{ form_errors(form.priority) }}
		{{ form_widget(form.priority) }}
	</fieldset>

	<fieldset class="task">
		<label>Exécutant</label>
		{{ form_errors(form.executor) }}
		{{ form_widget(form.executor, { 'attr': {'class': 'larger'} }) }}
	</fieldset>

	<fieldset class="task note">
		{{ form_errors(form.project) }}
		{{ form_widget(form.project) }}
	</fieldset>
	{{ form_widget(form._token) }}
	</div>
	<input class="btn" type="reset" value="{{ 'dashboard.postit.cancel'|trans }}" />
	<input class="btn" type="submit" value="{{ 'dashboard.postit.save'|trans }}" />
</form>
</div>