<form action="{{ actionUrl }}" method="post" {{ form_enctype(form) }}>
	{{ form_errors(form) }}

    {{ form_errors(form.subject) }}
    {{ form_widget(form.subject) }}
	{{ form_rest(form) }}
	<input class="btn" type="reset" value="{{ 'dashboard.postit.cancel'|trans }}" />
	<input class="btn" type="submit" value="{{ 'dashboard.postit.save'|trans }}" />
</form>
