<div class="post-it" data-id="{{ post_it.id }}">
	{{ post_it.subject }}
	<a class="button close" href="{{ path('BtaskBoardBundle_postit_close', { 'id': post_it.id }) }}">{{ 'dashboard.postit.close'|trans }}</a>
	<a class="button edit" href="{{ path('BtaskBoardBundle_post_it_update', { 'id': post_it.id }) }}">{{ 'dashboard.postit.edit'|trans }}</a>
</div>
