<div class="note alert" data-id="{{ note.id }}">
	<em>{{ note.created|date("d F Y") }}</em>
	<h5>{{ note.subject }}</h5>
	<p>{{ note.detail }}</p>
	<a href="{{ path('BtaskBoardBundle_note_update', { 'id': note.id }) }}" class="edit action button">{{ 'overview.streamline.notes.edit'|trans }}</a>
</div>
